:root{
  font-size: calc(1vw * 0.6 + 10px);
  --f-xxxl: 1.3rem;
  --f-xxl: 1.2rem;
  --f-xl: 1.1rem;

  --f-l: 1rem;
  --f-m: .8rem;
  --f-s: .7rem;

  --f-xs: .6rem;
  --f-xxs: .5rem;
  --f-xxxs: .4rem;
}
body{
  font-size: var(--f-l);
}
h1{
  font-size: var(--f-xxxl);
}
h2{
  font-size: var(--f-xxl);
}
h3{
  font-size: var(--f-xl);
}
.f-l{
  font-size: var(--f-l);
}
.f-xs{
  font-size: var(--f-xs);
}
.f-xxs{
  font-size: var(--f-xxs);
}
.f-xxxs{
  font-size: var(--f-xxxs);
}

.bold{
  font-weight: bold;
}
