
:root{
  box-sizing: border-box;
}

*,
::before,
::after{
 margin: 0;
 padding: 0;
 box-sizing: inherit; /* ←---- 告诉 其他 所有 元素 和 伪 元素 继承 其 盒 模型 */
}

li, ul{
  list-style: none;
}

button{
  cursor: pointer;
}
